.form-control:focus {
    border-color: #ffffff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 10px rgba(255, 255, 255, 0.8);
}
.colorPurple{
    background-color: #7d3cff;
    color:rgba(255, 255, 255, 0.8)
    style=""
}